---
interface Props {
    class?: string[];
    data: any;
}

const { data } = Astro.props;
---

<div class="skill">
    <h3>{data.name}</h3>
    <p class="level">{data.level}</p>
    <p>{data.keywords.map((k: string) => <span>{k} </span>)}</p>
</div>

<style lang="scss">
    .skill {
        margin-bottom: 2.5mm;

        h3 {
            font-size: 12pt;
            margin-bottom: 1.5mm;
        }

        .level {
            margin-bottom: 1.5mm;
        }
    }
</style>
