@media screen {
    body {
        background-color: #2c404a;

        .dinA4 {
            background-color: white;
        }

        #personal_data {
            background-color: #183042;
            color: white;

            h2 {
                color: #008787;
            }
        }

        #contact_info {
            background-color: #001528;
            color: white;

            a {
                color: white;
            }
        }

        section {
            h2 {
                color: #008787;
            }
        }

        .date {
            color: #008787;
        }
    }
}
